<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties" />

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="defaultStatementTimeout" value="3000"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.demo.entity.Book" alias="book"/>
    </typeAliases>

   <!-- <typeHandlers>
        <typeHandler handler="com.demo.typehandler.MyTypeHandlers" jdbcType="VARCHAR" javaType="java.lang.String"/>
    </typeHandlers>-->

    <objectFactory type="com.simon.objectfactory.MyObjectFactory">
        <!--<property name="price" value="100"></property>-->
    </objectFactory>

  <!--  <plugins>
        <plugin interceptor="com.demo.interceptor.MyInterceptor"></plugin>
    </plugins>-->

    <!--多个environment时，获取同environments的default值相同得environment-->
    <environments default="development">

         <environment id="development">
             <transactionManager type="JDBC"/>
             <dataSource type="POOLED">
                 <property name="driver" value="${test.driver}"/>
                 <property name="url" value="${test.url}"/>
                 <property name="username" value="${test.username}"/>
                 <property name="password" value="${test.password}"/>
             </dataSource>
         </environment>

        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${test.driver}"/>
                <property name="url" value="${test.url}"/>
                <property name="username" value="${test.username}"/>
                <property name="password" value="${test.password}"/>
            </dataSource>
        </environment>
     </environments>

    <databaseIdProvider type="org.apache.ibatis.mapping.VendorDatabaseIdProvider">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
    </databaseIdProvider>

    <mappers>
        <mapper resource="mybatis/book.xml"/>
        <!--<mapper class="com.simon.dao.BookDao"/>-->
    </mappers>

</configuration>